body {
  margin: 0;
  font-family: sans-serif;
}

p {
  margin: 0;
  font-weight: 700;
}
button, #colorRGB {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-color: black;
}

input[type="range"]::-moz-range-track {
    width: 98%;
    height: 2em;
    background: linear-gradient(to right, #FFFFFF, #000000);
    border-radius: 15px;
    border: none;
}

input[type="range"]::-moz-range-thumb {
    width: 2em;
    height: 2em;
    background: rgba(255,255,255,0.5);
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.fullpage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.header {
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;

  box-shadow: 2px 0px 10px;
}

.logo {
  margin: 10px;
}

.draw {
  flex-grow: 1;

  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.canvas {
  box-sizing: border-box;
  height: 45rem;
  width: 45rem;
  border: 5px solid black;
  border-radius: 5px;
}

.strokeSelector {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1em;
}

.previewStroke {
  height: 15rem;
  width: 15rem;
  margin-bottom: 1em;
}

.resetValue, .pickRGBA {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 4px;
}

.controls {
  display: flex;
  align-items: start;
  gap: 2em;
}

.colorControls {
  display: flex;
  align-items: center;
}

.sizeControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.canvas, .previewStroke {
  display: flex;
}

.column {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.grid {
  flex: 1 1 auto;
}

.strokeControls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rainbowEnable:checked {
  accent-color: black;
}

.nextColor {
  display: flex;
  flex: 1;
  height: 2em;
}
