body {
  margin: 0;
}

.fullpage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.header {
  flex-grow: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4em
}

.draw {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  box-sizing: border-box;
  height: 80vh;
  width: 80vh;
  border: 2px solid black;
  border-radius: 5px;
}

.resetValue, .pickRGBA {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 4px;
}

.controls {
  display: flex;
  gap: 2em;
}

.colorControls {
  display: flex;
  align-items: center;
}
.sizeControls p {margin: 0;}
.sizeControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.canvas {
  display: flex;
}

.column {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.grid {
  flex: 1 1 auto;
}
